<style>
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 6fr; 
 
        grid-column-gap: 1em;;
        grid-row-gap: 1em;
    }

    .wrapper > div {
        background: #fff;
        padding: 1px;
    }
    .wrapper > div:nth-child(odd) {
        background:#fff;
        border: 1px solid blue;
        /* 
        width: "246px";
        height: "138px"
         */
    }

    .wrapper > div:nth-child(even) {
        background:#fff;
        border: 1px solid red;
        /* 
        width: "246px";
        height: "138px"
         */
    }

p#shead {
    font: 30px;
    color:tomato;
    text-transform: uppercase;
}

@media(max-width:681px){
    /* good for width less than 681px */
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr; 
        grid-column-gap: 1em;;
        grid-row-gap: 2em;
 
    }
    .card-img {
        width:185px;
        height:104px;
    }
}

@media(min-width:681px){
    /* good for width more than 681px */
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 6fr; 
        grid-column-gap: 1em;;
        grid-row-gap: 2em;
        margin-bottom: 20px;
        
    }
     .card-img {
        width:319px;
        height:180px;
    }
    
}
</style>

<div class="container-fluid">
    <br>
    <br>
    <br>
    <p id="shead"> Search Results for {{text}} ({{count}})<p>
        <hr>
    {{#each children}}
    <div class="wrapper">
        <div>
           
            <img class="card-img" 
                src="/images/thumbnail/{{formatImg this}}_tn.jpg" 
                alt="Video image">
        </div>
        
        <div class="d-flex flex-column flex-wrap">
            <p> {{showfile this}}</p>
            
            <form action="/courses/play" method="post">
                <input type="hidden" name="path" value="{{this}}">
                <input type="hidden" name="filename" value="{{showfile this}}">
                <button class="btn btn-primary ">
                    Play Video
                </button>
            </form>
        </div>
       
    </div>

    {{/each}}

{{!-- <div class="pagination justify-content-center">
  <ul class="pagination justify-content-center">
    {{#paginate pagination type="first"}}
      <li class="page-item"  {{#if disabled}}class="disabled"{{/if}}><a  class="page-link" href="?p={{n}}">First</a></li class="page-item">
    {{/paginate}}
    {{#paginate pagination type="previous"}}
      <li class="page-item" {{#if disabled}}class="disabled"{{/if}}><a class="page-link" href="?p={{n}}">Prev</a></li class="page-item">
    {{/paginate}}
    {{#paginate pagination type="middle" limit="10"}}
      <li class="page-item" {{#if active}}class="active"{{/if}}><a class="page-link" href="?p={{nt}}">{{n}}</a></li class="page-item">
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li class="page-item" {{#if disabled}}class="disabled"{{/if}}><a class="page-link" href="?p={{n}}">Next</a></li class="page-item">
    {{/paginate}}
    {{#paginate pagination type="last"}}
      <li class="page-item" {{#if disabled}}class="disabled"{{/if}}><a class="page-link" href="?p={{n}}">Last</a></li class="page-item">
    {{/paginate}}
  </ul>
</div> --}}
</div>



