<div id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{user.firstname}} {{user.lastname}}</span>
            <span class="d-none d-lg-block">
                <img style="width:250px; height:250px; border-radius:50%; border:2px solid grey" src="{{user.photourl}}"
                    alt="{{user.firstname}} {{user.lastname}}">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">reference</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="about">
            <div class="w-100">
                <h1 class="mb-0 ml-n3">{{user.firstname}}
                    <span class="text-primary">{{user.lastname}}</span>
                </h1>
                <div class="row">
                 <p class="ml-0">Address: {{user.address.street}}</p>
                </div>
                    <div class="row">
                    <p>Tel:</p>
                    <p class="text-danger">{{user.phone1}}, {{user.phone2}}</P>
                    </div>
                    <div class="row">
                        <p>State: </p>
                        <p class="text-danger"> {{user.address.state}}</p>
                    </div>
                    <div class="row">
                        <p> City:</p>
                        <p class="text-danger">{{user.address.city}}</p>
                    </div>
                    <div class="row">
                        <p>Zipcode:</p>
                        
                        <p class="text-danger">{{user.address.zipcode}}</p>
                    </div>
                    <div class="row">
                        <p>Nationality: </p>
                            <p class="text-danger">{{user.address.country}}</p>
                    </div>
                    <div class="row">
                        <p>Email: <a href="mailto:  {{user.email}}">{{user.email}}</a></p>
                    </div>
                    <div class="row">
                        <p >Start Date: </p>
                            <p class="text-danger">    {{user.start_date}}</p>
                    </div>
                    <div class="row">
                        <p > End Date:   </p>
                            <p class="text-danger">   {{user.end_date}}</p>
                    </div>
                
            </div>




        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5 ml-n3">Experience</h2>

                {{#each user.work_experience}}
                <div class="row">
                        <p >Role: </p>
                            <p class="text-danger">     {{this.roles}}</p>
                    </div>
                    <div class="row">
                        <p > Place:   </p>
                            <p class="text-danger">     {{this.place}}</p>
                    </div>
                    <div class="row">
                        <p >Start Date: </p>
                            <p class="text-danger">     {{this.start_year}}</p>
                    </div>

                    <div class="row">
                        <p>End Date:</p>
                        <p class="text-danger"> {{this.end_year}}</p>
                    </div>
                {{/each}}
            </div>

    </div>

    </section>
                    



    <hr class="m-0">
 
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5 ml-n3">Education</h2>
            

            <div class=" resume-item d-flex flex-column flex-md-row mb-5">
                    {{#each user.qualifications}}
                    <div class=" col resume-content">

                        
                        <div class="row">
                            <p ></p>School Attended:  <p class="text-danger">{{this.school}}</p>
                            </div>
                        <div class="row">
                        <p>Studied: </p>
                        <p class="text-danger">      {{this.subject}}</p>
                        </div>
                        <div class="row">
                        <p >Qualification: </p>
                            <p class="text-danger">   {{this.diploma}}</p>
                        </div>
                        <div class="row">
                        <p>Year of Graduation:</p>
                        <p class="text-danger">     {{this.date_obtained}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>

            
        </div>
       
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5 ml-n3">INTERESTS</h2>


        <div class="row">
           <ul>
               <li><p>Traveling</p></li>
               <li><p>Teaching</p></li>
               <li><p>Studying</p></li>
               <li><p>Football</p></li>
               
           </ul>
        </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5 ml-n3">REFERENCE</h2>
            <div class="row">
            <p>Name:</p>
            <p class="text-danger">    {{user.reference.name}}</p>
        </div>

        <div class="row">
            <p>Phone:</p>
            <p class="text-danger">    {{user.reference.phone}} </p>
        </div>
        <div class="row">
            <p>E-mail:</p>
            <p class="text-danger">     {{user.reference.email}} </p>
        </div>
  
        </div>
    </section>

    <hr class="m-0">



</div>


</div>